/*
Name: Kayleigh Phongvichith
File: Homework1.css
Date Created: September 22, 2025
Date Update: December 5, 2025
Purpose: Style sheet for homework1
*/
body {
    background-color: #ffd7ed;
}
.page-title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
    color: deepskyblue;
    outline-color: black;
    font-stretch: ultra-expanded;
}
.heading {
    background-color: orange;
    color: black;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
    height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}
.center {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
label {
  white-space: nowrap;
}
.list {
  display: flex;
  gap: 25px;
}
.spacing {
  margin-bottom: 50px;
}
.left {
  flex: 1;
  min-width: 400px;
}
.right {
  flex: 1;
  min-width: 30px;
  margin-top: 80px;
  gap: 20px;
  margin-right:20%;
}
.group { 
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}
.column {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
  width: 50%;
  align-items: start;
}
.slidecontainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: deepskyblue;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity.2s;
  align-items: center;
}
.slider:hover{
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: deeppink;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: deeppink;
  cursor: pointer;
}
.align-textarea {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}
table.form {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  word-wrap: break-word;
}
.radio-button {
  text-align: center;
  margin-top: 20px;
  gap: 190px;
  display: flex;
  justify-content: center;
  box-sizing: 50%;
}
.middle-submit {
  background-color: deeppink;
  border-color: black;
  size: 30;
  font-weight: bold;
}
.right-reset {
  background-color: deepskyblue;
  border-color: black;
  size: 30;
  font-weight: bold;
}
.left-review {
  background-color: violet;
  border-color: black;
  size: 30;
  font-weight: bold;
}
.reviewoutput {
  background-color: white;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.footer-icons img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
body {
    padding-bottom: 70px;
}

